boto3==1.38.18
cloudflare==4.1.0
dnspython==2.7.0
requests==2.32.3
black==25.1.0
prospector==1.17.3
pytest==8.4.0
pytest-cov==6.1.1
assertpy==1.1
moto==5.1.4
requests-mock==1.12.1
checkov==3.2
pre-commit==4.2.0
