name: Integration Tests Deployment
on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Choose Environment
        default: dev
        options:
          - dev
          - prd

env:
  AWS_REGION: "eu-west-1"
  PROJECT: domain-protect
  ENVIRONMENT: ${{ inputs.environment }}
  TEST_ROLE_EXTERNAL_ID: ${{ secrets.TEST_ROLE_EXTERNAL_ID }}
  ROUTE53_ACCOUNT: ${{ secrets.ROUTE53_ACCOUNT }}
  TEST_ROLE_NAME: ${{ secrets.TEST_ROLE_NAME }}
  ZONE_NAME: ${{ secrets.ZONE_NAME }}
  CLOUDFLARE_API_KEY: ${{ secrets.CLOUDFLARE_API_KEY }}
  CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }}
  CLOUDFLARE_ZONE_NAME: ${{ secrets.CLOUDFLARE_ZONE_NAME }}

permissions:
  contents: read

jobs:
  integration_tests_deployment:
    name: Integration tests deployment ${{ inputs.environment }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      checks: write # Required for Publish Test Results
      pull-requests: write # Required for Publish Test Results

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: 'python-version'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: ${{ secrets.AWS_INTEGRATION_TEST_ROLE}}
          aws-region: "eu-west-1"

      - name: test
        run: |
          pytest -v --junitxml=test_reports/junit-integration.xml integration_tests/deployment

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@3a74b2957438d0b6e2e61d67b05318aa25c9e6c6 # v2
        if: always()
        with:
          files: "test_reports/junit-integration.xml"
          check_name: "Integration Test Results - Deployment"
          comment_title: "Integration Test Results - Deployment"
