name: Formatting and Unit Tests
on:
  push:

env:
  TERRAFORM_DOCS_VERSION: v0.19.0
  TERRAFORM_VERSION: "1.7.3"

permissions:
  contents: read

jobs:
  unit_tests:
    name: Unit Test
    runs-on: ubuntu-latest
    permissions:
      checks: write # Required for Publish Test Results
      pull-requests: write # Required for Publish Test Results
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Terraform setup
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: 'python-version'
          cache: 'pip'

      - run: pip install -r requirements-dev.txt

      - name: Install terraform-docs
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: terraform-docs/terraform-docs
          tag: ${{ env.TERRAFORM_DOCS_VERSION }}

      - name: Linting and formatting
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
        with:
          extra_args: --all-files --show-diff-on-failure

      - name: Unit tests
        run: |
          pytest --cov=manual_scans --cov=utils --cov-branch --cov-fail-under=15 unittests

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@c950f6fb443cb5af20a377fd0dfaa78838901040 # v2
        if: always()
        with:
          files: "test_reports/*.xml"
